form {
  background: #fff;
  padding: 1em 1em ;
  max-width: 600px;
  line-height: 10px;
}

p {
  margin: 0 0 0 0;
  position: relative;
}
label {
  display: block;

  /*font-size: 1.6em;
  margin: 0 0 .5em;
  color: #333;*/

}
/*input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none
}*/
input[type="text"],
input[type="password"] {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
/*  font-size: 1.6em;*/
  padding: .8em .5em;
  margin: .5em 0 0 0;

  border-radius: 5px;
}
input[type="text"]:focus,
input[type="password"]:focus {
  background: #fff
}
input[type="checkbox"]
 {
  background: #333;
  border: 1px solid #e5e5e5;
/*  font-size: 1.6em;*/
  /*padding: .8em .5em;
  border-radius: 5px;*/
  }

span {
  border-radius: 5px;
  display: inline;
/*  font-size: 1.3em;*/
  text-align: center;
  /*position: absolute;*/
  background: ;
  left: ;
  top: ;
  width: 300px;
  padding: 0 0 5px 5px ;
  margin: 0 0 5px 0;
  color: red;
}

span:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: ;
  border-width: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
input[type="submit"] {
  background: #303663;
  box-shadow: 0 3px 0 0 #5F6278;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
/*  font-size: 2em;*/
  line-height: 1.6em;
  margin:  0 0;
  outline: none;
  padding: .8em 0;
  text-shadow: 0 1px #F4f7f7;

}

button[type="submit"] {
  background: #7278A4;
  box-shadow: 0 3px 0 0 #5F6278;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  /*  font-size: 2em;*/
  line-height: 1.6em;
  margin: 0 0 0;
  outline: none;
  text-shadow: 0 1px #F4f7f7;

}

textarea {
  border-radius: 5px;
  display: inline;
/*  font-size: 1.3em;*/
  text-align: left;
  /*position: absolute;*/
  background: ;
  left: ;
  top: ;
  max-width: 600px;
  height: 150px;
  padding: 2px ;
  color: 333;
}

select {
  border-radius: 5px;
  display: inline;
/*  font-size: 1.3em;*/
  text-align: center;
  /*position: absolute;*/
  background: ;
  left: ;
  top: ;
  max-width: 200px;
  padding: 2px ;
  color: 333;
}

@media (min-width: 480px) {
  select {
    max-width: 400px;
  }
}

/*.leaveForm {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 600px;
  margin: 100px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 5px;
}*/
